<div class="footer">
  <div class="footer__signup">
    <p class="footer__signup__text">Signup for more like this</p>
    <div class="footer__signup__button-wrapper">
      <input
        class="footer__signup__input"
        type="text"
        value="Your email address"
      >
      <button class="footer__signup__button">Subscribe</button>
    </div>
  </div>

  <div class="footer__copyright">
    Candy Fair © 2022. All rights Reserved.
  </div>
</div>